.HomeHeader {
    overflow: hidden;

    @include respond($laptop) {
        padding-bottom: 80px;
    }

    @include respond($mobile) {
        padding: calc(var(--header-height) + 16px) 0 16px;
    }
}

.top {
    position: relative;
    display: flex;
    align-items: center;
    min-height: calc(100vh - var(--header-height));
    justify-content: flex-start;

    @include respond($laptop) {
        min-height: unset;
        padding: 80px 0 200px;
    }

    @include respond($mobile) {
        flex-direction: column;
        padding: 0;
    }
}

.left {
    max-width: 550px;

    @include respond($laptop) {
        max-width: 415px;
    }

    @include respond($mobile) {
        max-width: unset;
        margin-bottom: 32px;
        padding: 16px 0;
    }
}

.right {
    position: absolute;
    right: -120px;
    top: -40px;
    width: 60%;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    @include respond($mobile) {
        position: static;
        width: unset;
        margin-bottom: 32px;
    }
}

.title {
    @include headline-1;

    margin-bottom: 20px;

    @include respond($mobile) {
        @include headline-2;
    }
}

.subtitle {
    @include body-2;

    color: $neutral-4;
}

.button {
    margin-top: 32px;
}

.buttonDown {
    position: absolute;
    bottom: 60px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid $neutral-3;
    color: $neutral-4;

    @include respond($laptop) {
        display: none;
    }

    @include hover {
        svg {
            transform: translate(1px, 1px);
            color: $neutral-8;
        }
    }

    svg {
        width: 24px;
        height: 24px;
        transform: translateX(1px);
        transition: all $transition;
    }
}

.list {
    display: flex;
    gap: 32px;
    background-color: $neutral-2;
    border-radius: 24px;
    padding: 24px;

    @include respond($mobile) {
        flex-direction: column;
        gap: 12px;
    }
}
