.MarketWidgetNavButton {
	@include button-2;

	padding: 6px 12px;
	border-radius: 100px;
	color: $neutral-6;
	transition: all $transition;
	cursor: pointer;

	&:not(&_active) {
		@include hover {
			color: $neutral-8;
		}
	}

	&_active {
		background-color: $neutral-6;
		color: $neutral-2;
	}
}
