.HomeSlideshow {
    padding: 136px 0;

    @include respond($laptop) {
        padding: 115px 0;
    }

    @include respond($mobile) {
        padding: 64px 0;
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 545px;
    margin: 0 auto 80px;

    @include respond($mobile) {
        margin-bottom: 50px;
    }
}

.title {
    @include headline-2;

    margin: 16px 0 20px;
}

.subtitle {
    color: $neutral-4;
}

.sliderWrapper {
    display: flex;
    align-items: center;
}

.slider {
    width: calc(100% - (96px * 2));
    height: 445px;

    @include respond($laptop) {
        width: calc(100% - (48px * 2));
    }

    @include respond($mobile) {
        width: 100%;
        height: unset;
    }
}

.navButton {
    width: 24px;
    height: 24px;
    color: $neutral-4;

    @include respond($mobile) {
        display: none;
    }
}
