.HomeNews {
    padding-top: 136px;
}

.newsList {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, 1fr);
    gap: 32px;
    justify-content: space-between;

    li:first-child {
        grid-area: 1 / 1 / 4 / 2;
    }
}