.UiButton {
	display: flex;
	width: max-content;
	align-items: center;
	justify-content: center;
	border: 2px solid transparent;
	border-radius: 90px;
	font-weight: 700;
	transition: all $transition;

    &:disabled {
        cursor: not-allowed;
    }

	&--size-medium {
		@include button-2;

		padding: 10px 14px;
	}

	&--size-large {
		@include button-1;

		padding: 14px 22px;
	}

	&--color-dark {
		border-color: $neutral-4;
		color: $neutral-8;

		@include hover {
			background-color: $neutral-8;
			color: $neutral-2;
			border-color: transparent;
		}

		&:disabled {
			border-color: transparent;
			background-color: $neutral-8;
			color: $neutral-2;
			opacity: .5;
		}
	}

	&--color-blue {
		color: $neutral-8;
		background-color: $primary-1;
		border-color: $primary-1;

		@include hover {
			background-color: darken($primary-1, 5%);
			border-color: darken($primary-1, 5%);
		}

		&:disabled {
			opacity: .5;
			background-color: darken($primary-1, 5%);
			border-color: darken($primary-1, 5%);
		}
	}
}
