.AuthSign {
	flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 80px;

    @include respond($laptop) {
        display: flex;
        flex-direction: column;
    }

    @include respond($mobile) {
        padding: 32px;
    }
}

.main {
	display: flex;
	align-items: center;
	flex-direction: column;
    max-width: 380px;
    width: 100%;
    margin: 0 auto;

    @include respond($laptop) {
        justify-content: center;
        flex-grow: 1;
    }

    @include respond($mobile) {
        margin-top: 60px;
    }
}

.title {
	@include headline-3;

	font-weight: 700;
	margin-bottom: 32px;
    text-align: center;

    @include respond($mobile) {
        @include headline-4;
    }
}

.form {
    width: 100%;

    .submitButton {
        width: 100%;
    }
}

.inputField {
	margin-bottom: 32px;
}
