.MarketBlogItem {
	display: flex;
	flex-direction: column;
	padding-bottom: 58px;
	border-bottom: 2px solid $neutral-3;
}

.cover {
	border-radius: 12px;
	height: 200px;
	overflow: hidden;
	margin-bottom: 48px;

	& > img {
		display: block;
		width: 100%;
		object-fit: cover;
	}
}

.middle {
	margin-bottom: 48px;
}

.tagList {
	display: flex;
	margin-bottom: 16px;
}

.title {
	@include body-1;

	font-weight: 600;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.bottom {
	@include caption;

	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: auto;
	font-weight: 600;
	color: $neutral-4;
}

.bottomAuthor {
	display: flex;
	align-items: center;
}

.bottomAuthorAvatar {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: $primary-4;
	margin-right: 12px;
}
