.HomeBecomeCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $neutral-2;
    padding: 32px;
    border-radius: 20px;
    text-align: center;
    height: 460px;
    transition: all $transition;

    @include respond($laptop, true) {
        @include hover {
            transform: scale(1.02);
        }
    }

    @include respond($mobile) {
        padding: 24px;
    }
}

.image {
    width: 160px;
    height: 160px;
    object-fit: contain;
    margin-bottom: 32px;

    @include respond($mobile) {
        width: 130px;
        height: 130px;
    }
}

.title {
    font-weight: 500;
    margin-bottom: 16px;
}

.description {
    @include caption;

    color: $neutral-4;
}
