.UiLoader {
    &__wrapper {
        &_covered {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 10px;
        }
    }

    &_size-sm {
        width: 20px;
        height: 20px;
    }

    &_size-md {
        width: 32px;
        height: 32px;
    }

    &_size-l {
        width: 50px;
        height: 50px;
    }

    &_color-white {
        color: $neutral-8;
    }
}