.MarketTableRow {
	display: flex;
	align-items: center;
	padding: 16px;
	border-radius: 8px;
	transition: all $transition;
	cursor: pointer;
	user-select: none;

	@include hover {
		background-color: $neutral-2;

		.buyButton {
			opacity: 1;
			visibility: visible;
		}
	}
}

.cell {
	@include caption;

	display: flex;
	align-items: center;

	&:nth-child(1) {
		@include caption-2;

		width: 48px;
		font-weight: 700;
		color: $neutral-4;
	}

	&:nth-child(2) {
		width: 160px;
		font-weight: 500;

		.shortName {
			color: $neutral-4;
			font-weight: 400;
			margin-left: 4px;
		}
	}

	&:nth-child(3) {
		font-weight: 500;
		width: 80px;
	}

	&:nth-child(5) {
		font-weight: 500;
	}

	&:nth-child(4),
	&:nth-child(5) {
		width: 64px;
	}

	&:nth-child(6),
	&:nth-child(7) {
		width: 140px;
		font-weight: 500;
	}

	&:nth-child(8) {
		width: 96px;
		height: 32px;
	}

	&:nth-child(n + 3) {
		justify-content: flex-end;
	}

	&:not(:last-child) {
		margin-right: 42px;
	}

	&_positive {
		color: $primary-4;
	}

	&_negative {
		color: $primary-3;
	}
}

.cellCurrencyIcon {
	width: 32px;
	height: 32px;
	margin-right: 12px;
}

.cellStar {
	width: 16px;
	height: 16px;
	margin-right: 10px;
	flex-shrink: 0;
}

.buyButton {
	position: absolute;
	padding-left: 35px;
	padding-right: 35px;
	transition: all $transition;
	opacity: 0;
	visibility: hidden;
}
