.UiPercentageTag {
	@include caption-2;

	flex-shrink: 0;
	font-weight: 600;
	padding: 2px 8px;
	border-radius: 24px;
	background-color: $primary-4;

	&--negative {
		background-color: $primary-3;
	}
}