.HomeSectionHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include respond($mobile) {
        justify-content: center;
    }

    &--is-market {
        @include respond($mobile) {
            justify-content: left;

            .content {
                width: 100%;
                overflow-x: unset;
            }

            .tabList {
                display: none;
            }

            .title {
                text-align: left;
            }
        }
    }
}

.content {
    @include respond($mobile) {
        overflow-x: auto;
    }
}

.title {
    @include headline-2;

    margin-bottom: 40px;

    @include respond($mobile) {
        @include headline-3;

        text-align: center;
        margin-bottom: 32px;
    }
}

.tabList {
    display: flex;
    gap: 24px;

    @include hide-scrollbar;

    @include respond($mobile) {
        gap: 20px;
        overflow-x: auto;
    }
}

.linkButton {
    @include respond($mobile) {
        display: none;
    }
}

.select {
    @include respond($mobile, true) {
        display: none;
    }
}
