.MarketTable {
	padding-top: 180px;
}

.tableHeader {
	@include caption-2;

	display: flex;
	align-items: center;
	padding: 10px 16px;
	font-weight: 600;
	color: $neutral-4;
}

.tableHeaderCell {
	display: flex;
	align-items: center;
	user-select: none;

	&:not(:last-child) {
		margin-right: 42px;
	}

	&:nth-child(1) {
		width: 48px;
		cursor: pointer;
	}

	&:nth-child(2) {
		width: 160px;
		cursor: pointer;
	}

	&:nth-child(3) {
		width: 80px;
		cursor: pointer;
	}

	&:nth-child(4),
	&:nth-child(5) {
		width: 64px;
	}

	&:nth-child(6),
	&:nth-child(7) {
		width: 140px;
	}

	&:nth-child(8) {
		width: 96px;
	}

	&:nth-child(n + 3) {
		justify-content: flex-end;
	}

	&_cell_number {
		.tableHeaderCellArrow {
			margin-left: 8px;
		}
	}
}

.tableHeaderCellArrow {
	width: 16px;
	height: 16px;
	margin-left: 4px;
	flex-shrink: 0;
}

.tableHeaderCellIcon {
	width: 20px;
	height: 20px;
	margin-left: 4px;
}

.tableContent {
	margin-top: 32px;
	padding-top: 32px;
	border-top: 1px solid $neutral-2;
}
