.HomeWork {
    padding: 136px 0;

    @include respond($laptop) {
        padding: 115px 0;
    }

    @include respond($mobile) {
        padding: 64px 0;
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 545px;
    margin: 0 auto 80px;

    @include respond($mobile) {
        margin-bottom: 64px;
    }
}

.title {
    @include headline-2;

    margin-bottom: 20px;

    @include respond($mobile) {
        @include headline-3;
    }
}

.subtitle {
    color: $neutral-6;
}

.itemImageWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 45px;
    background-color: $neutral-1;
    margin-bottom: 80px;

    @include respond($laptop) {
        padding: 0;
        margin-bottom: 24px;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 2px solid $neutral-5;

        @include respond($laptop) {
            display: none;
        }
    }

    &::after {
        right: 10px;
    }

    &::before {
        left: 10px;
    }
}

.itemImage {
    width: 96px;
    height: 96px;
}

.list {
    position: relative;
    display: flex;
    gap: 32px;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        top: 47px;
        width: calc(100% - 45px * 2);
        left: 50%;
        transform: translateX(-50%);
        height: 7px;
        border-top: 1px dashed $neutral-5;

        @include respond($laptop) {
            display: none;
        }
    }

    @include respond($laptop) {
        flex-direction: column;
        gap: 64px;
    }
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:first-child {
        .itemImageWrapper {
            &::before {
                display: none;
            }
        }
    }

    &:last-child {
        .itemImageWrapper {
            &::after {
                display: none;
            }
        }
    }
}

.itemStep {
    @include caption-2;

    font-weight: 600;
    color: $neutral-4;
    margin-bottom: 32px;
}

.itemTitle {
    font-weight: 500;
    margin-bottom: 16px;

    @include respond($mobile) {
        margin-bottom: 12px;
    }
}

.itemDescription {
    @include caption;

    color: $neutral-7;

    @include respond($laptop) {
        color: $neutral-4;
        max-width: 480px;
    }
}
