.UiInputConfirm {
    position: relative;
}

.loading {
    composes: UiInputConfirm;
    pointer-events: none;
}

.nativeInput {
    @include caption;

    display: block;
    width: 100%;
    border-radius: 90px;
    border: 2px solid $neutral-3;
    transition: all $transition;
    padding: 10px 50px 10px 15px;
    color: $neutral-8;

    &::placeholder {
        color: $neutral-4;
        font-weight: 400;
        transition: all $transition;
        opacity: 1;
    }

    @include hover {
        border-color: $neutral-2;

        &:not(:focus) {
            &::placeholder {
                opacity: 1;
                color: $neutral-8;
            }
        }
    }

    &:focus {
        border-color: $primary-1;
    }
}

.extraButton {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $primary-1;
}

.icon {
    width: 24px;
    height: 24px;
    color: $neutral-8;
    flex-shrink: 0;
}

.success {
    composes: UiInputConfirm;
    pointer-events: none;

    .nativeInput {
        border-color: $primary-4;
    }

    .extraButton {
        background-color: $primary-4;
    }
}

.error {
    composes: UiInputConfirm;

    .nativeInput {
        border-color: $primary-3;

        @include hover {
            border-color: $primary-3;
        }

        &:focus {
            border-color: $primary-3;
        }
    }

    .extraButton {
        cursor: not-allowed;
        background-color: $neutral-5;
    }

    .icon {
        color: $neutral-4;
    }
}

.errorField {
    @include caption-2;

    background-color: $neutral-8;
    border-radius: 100px;
    padding: 5px 16px;
    color: $primary-3;
    font-weight: 700;
    margin-top: 4px;
    max-width: 250px;
    width: max-content;

    @include respond($mobile) {
        max-width: unset;
    }
}
