.AuthSign {
	flex-grow: 1;
}

.top {
	@include button-2;

	display: flex;
	justify-content: flex-end;
	padding: 80px;

	a {
		color: $primary-1;
		margin-left: 8px;
	}
}

.main {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 48px;
}

.title {
	@include headline-3;

	font-weight: 700;
	margin-bottom: 32px;
}

.addressConfirm {
	padding-bottom: 32px;
	text-align: center;

	& > span {
		@include caption-2;

		display: inline-block;
		color: $neutral-4;
		margin-bottom: 12px;
	}
}

.formContent {
	border-top: 1px solid $neutral-3;
	padding-top: 32px;
}

.tabContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 32px;

	& > *:not(:last-child) {
		margin-right: 24px;
	}
}

.inputField {
	margin-bottom: 32px;

	:global(.UiInputSimple__nativeInput:not(:focus)) {
		border-color: $neutral-4;
	}
}

.signature {
	@include caption-2;

	display: flex;
	justify-content: space-between;
	font-weight: 600;
	color: $neutral-4;
	margin-top: 16px;

	:is(a) {
		color: $primary-1;
	}
}

.submitButton {
	width: 100%;
}
