.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	margin: 0 auto;
	max-width: 1150px;
	padding: 0 $container-offset;

	@include respond($mobile) {
		padding: 0 $container-offset-mobile;
	}
}

.main {
	flex-grow: 1;
}

.spin-animation {
	animation: common-spin 2s linear infinite;
}

@keyframes common-spin {
	100% {
		transform: rotate(360deg);
	}
}
