:root {
    --toastify-color-dark: #{$neutral-3};
    --toastify-text-color-dark: #{$neutral-7};
    --toastify-text-color-info: #{$neutral-7};
    --toastify-text-color-success: #{$neutral-7};
    --toastify-text-color-warning: #{$neutral-7};
    --toastify-text-color-error: #{$neutral-7};
    --toastify-color-progress-dark: #{$primary-1};
    --toastify-color-error: #{$primary-3};
    --toastify-font-family: 'Poppins', sans-serif;
}
