@import "normalize.css";
@import "reset";

* {
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 1px;
        background-color: $neutral-5;
    }
}

body {
    @include body-2;

    min-height: 100vh;
    background-color: $neutral-1;
}

button,
input {
    color: $neutral-8;
}
