@import "assets/styles/typography";
@import "assets/styles/colors";

.MarketHeader {
	position: relative;
	background-color: #18191D;
}

.wrapper {
	display: flex;
	align-items: center;
	min-height: 100vh;
}

.title {
	@include headline-1;
}

.caption {
	@include body-1;

	margin-top: 32px;
	color: $neutral-5;

	b {
		font-weight: 600;
	}
}

.content {
	max-width: 545px;
}

.imagePlaceholder {
	max-width: 635px;

	& > img {
		display: block;
		width: 100%;
		object-fit: contain;
	}
}

.widget {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 85px);
	width: 100%;
}
