.content {
    padding: 80px 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
}

.routeSection {
    padding: 40px;
    background-color: $shade-2-30;
    border-radius: 16px;
    flex-grow: 1;
}
